{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Campaign Form</a>
</nav>
<div class="container p-3 mb-2 bg-light text-dark">
  <form action="." method="POST" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" name="name">
    </div>

    <div class="form-group">
      <label for="name">Country:</label>
      <input type="text" class="form-control" name="country">
    </div>

    <div class="form-group">
      <label for="name">Goal</label>
      <select class="form-control" name="goal">
        <option></option>
        <option>Awareness</option>
        <option>Conversion</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Category:</label>
      <input type="text" class="form-control" name="category">
    </div>

    <div class="form-group">
      <label for="name">Budget</label>
      <select class="form-control" name="budget">
        <option></option>
        <option>149</option>
        <option>399</option>
        <option>999</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-warning" href="{% url 'campaign:campaign' %}">Cancel</a>
  </form>

</div>

{% endblock content %}
