{% extends "base.html" %}

{% block content %}
  <div>
    <h4>What is this?</h4>
    <p>This is a web service with both GUI and API interfaces which enable CRUD operations to the database.</p>
    <h4>How to use GUI?</h4>
    <p>Click on the <b>Campaign</b> button, add your data then it will be visualized.</p>
    <h4>How to use API?</h4>
    <p>For simplicity API doesn't require any type of Authentication....<a href="https://github.com/MahmoudRizk/cognitive_task#api">more</a></p>
  </div>
{% endblock content %}
